[submodule "vim-codefmt"]
	path = vim-codefmt
	url = https://github.com/google/vim-codefmt.git
[submodule "submodule-test"]
	path = submodule-test
	url = https://github.com/rodzynek01/submodule-test.git
